@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
}

h3 {
	margin: 10px 0;
	color: #4F4F4F;
	font-weight: normal;
	font-size: 30px;
}

body {
	width: 100%;
	background-color: #F4F4F4;
	font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei';
}

#demo {
	width: 1000px;
	margin: 50px auto;
}